
html{
  background-color: #f6f6f6;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.HomeContainer {
  width: 100%;
  max-width: 992px;
  margin: auto;
  box-sizing: border-box;
  padding: 50px 20px;
  min-height: 100vh;
  background-color: #fff;
}

.QueryInput {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  color: #353535;
}

.SubmitContainer {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.QueryButton {
  padding: 10px 20px;
  font-size: 14px;
}